.mainWrapper{
	width:100%;
	background-color: blue;
}

.slider{
	width: 100%;
	height:640px;	
	background-color: gray;
	position: relative;
	/*background-image: url();*/
}

.headerWrapper{
	width: 100%;	
	height: 9em;
	background-color: brown;			
	position: relative;
}

.header{	
	width: 73.25em;
	height: 50px;		
	background-color: yellow;
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px;
	margin:auto;	
}

.homePage{
	width: 73.25em;
	height: 496px;
	background-color: skyblue;
	margin:0px auto;
}

.servicesWrapper{
	width:100%;
	height: 400px;
	background-color: white;
}

.services{
	width:73.25em;
	height: 400px;	
	margin:auto;	
	background-color: purple;	
}

.userStatusWrapper{
	width:100%;
	height: 300px;
	background-color: darkgray;
}

.userStatus{
	width:73.25em;
	height: 300px;	
	margin:auto;	
	background-color: orange;	
}

.onlineSupportWrapper{
	width:100%;
	height: 300px;
	background-color: silver;
}

.onlineSupport{
	width:73.25em;
	height: 300px;	
	margin:auto;	
	background-color: lightgreen;	
}

.contactusWrapper{
	width:100%;
	height: 300px;
	background-color: maroon;
}

.contactus{
	width:73.25em;
	height: 300px;	
	margin:auto;	
	background-color: indigo;	
}

.footer{
	width:100%;
	height: 200px;
	background-color: brown;
}